#contact {
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    padding-top: 75px;
    background-color: rgb(54, 54, 54);
}
#contactGrid{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    margin: auto;
    height: 100%;
}
#contactLeft{
    padding-top: 0px ;
    
    
}
#contactLeft img{
    height: 100%;
    width: auto;
    max-height: 100%;
    display: block;

    margin: auto;
    padding: 20px;
    
}
#contactRight{
    padding-top: 5vh;
    padding-bottom: 25px;
}


#contactTitle {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    color:whitesmoke;
    font-size: 6vh;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 50px;
    border-bottom: white solid 2px;
    width: fit-content;
}
#contactDes{
    color:whitesmoke;
    font-size: 4vh;
    padding: 2vw;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1px;
}
#contactForm {
    display: block;
    margin: auto;
    margin-bottom: 85px;
    width: 60%;
    min-width: 300px;
    max-width: 700px;
}
.contactInput {
 
    background-color: unset;
    color: white;
    border: none;
    border-bottom: white solid thin;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: block;
    margin: auto;
}

.contactInput:focus {
    background-color: unset;
    border: none;
    border-bottom: white solid thin;
    outline: none;
}
#contactMessage{
    height: 100px;
}
#contactBtn{
    float: right;
    margin: 20px;
    margin-right: 0;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: rgb(97, 97, 97);
    color: white;
}
#contactInfo {
    color: white;
    text-align: center;
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 75px;
    
}
#infoTitle{
    font-size: 40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
#infoDes {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
#leafDiv{
    display: block;
    margin: auto;
    width: fit-content;
    position: relative;
    bottom:75px;
    height: fit-content;
    animation: leafDropContact 3s;
}
#contactLeaf{
    height: 200px;
    width: auto;
    display: block;
    margin:auto;
    }


@keyframes leafDropContact{
    from {
      bottom: 1000px;
      transform: rotateY(180deg);
    }
    to {
      bottom:75px;
      transform: rotateY(360deg);
    }
  }
#contactFooter{
    height: 15vh;
    max-height: 100px;
    width: 100%;
    position: fixed;
    z-index: 4;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.883);
    color: rgb(97, 97, 97);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 550;
    animation: footerBackground 0.5s;
  }
  @media screen and (max-height: 600px){
    #contactFooter {
        font-size: 40px;
    }
    #contactDes{
        margin: 0;
    }
    #contactBtn{
        margin: 0;
    }
    #contactRight{
        padding-top: 0;
    }
    .contactInput{
        height: 30px;
    }
}
  #contactFooter p{
    animation: footerText 2s;
    width: fit-content;
    display: block;
    margin: auto;
  }

.Toastify__toast--error{
    background: #474747 !important;
}

.Toastify__toast{
    font-family: 'Josefin Sans', sans-serif !important;
}
.Toastify__progress-bar--error{
    background-color: #d44a4aad !important;
}
.Toastify__progress-bar--success{
    background-color: #5cc741ad !important;
}
@media screen and ( max-width: 700px){
    #contact{
        height: fit-content;
    }
    #contactGrid{
        grid-template-columns: repeat(1, 100vw);
        grid-template-rows: 60vh 80vh;
    }
    #contactLeft img{
        height: 100%;
        width: auto;
    }
    #contactRight{
        height: fit-content;
    }
    #contactFooter{
        height: 75px;
        font-size: 30px;
    }
    #leafDiv{
        bottom: 0px;
    }
    
    
    @keyframes leafDropContact{
        from {
          bottom: 2000px;
          transform: rotateY(180deg);
        }
        to {
          bottom: 0px;
          transform: rotateY(360deg);
        }
      }
    

}
