#contact {
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    padding-top: 75px;
    background-color: rgb(54, 54, 54);
}
#contactGrid{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    margin: auto;
}
#contactLeft{
    padding-top: 75px ;
    
}
#contactLeft img{
    width: 80%;
    height: auto;
    display: block;

    margin: auto;


    padding: 20px;
}


#contactTitle {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    color:whitesmoke;
    font-size: 6vh;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 50px;
    border-bottom: white solid 2px;
    width: fit-content;
}
#contactDes{
    color:whitesmoke;
    font-size: 4vh;
    padding: 2vw;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 1px;
}
#contactForm {
    display: block;
    margin: auto;
    margin-bottom: 150px;
    width: 60%;
    min-width: 300px;
    max-width: 700px;
}
.contactInput {
 
    background-color: unset;
    color: white;
    border: none;
    border-bottom: white solid thin;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: block;
    margin: auto;
}

.contactInput:focus {
    background-color: unset;
    border: none;
    border-bottom: white solid thin;
    outline: none;
}
#contactMessage{
    height: 100px;
}
#contactBtn{
    float: right;
    margin: 20px;
    margin-right: 0;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: rgb(36, 36, 36);
    color: white;
}
#contactInfo {
    color: white;
    text-align: center;
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 75px;
    
}
#infoTitle{
    font-size: 40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
#infoDes {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
#contactFooter{
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 4;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.671);
    color: rgb(97, 97, 97);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 550;
  }

.Toastify__toast--error{
    background: #474747 !important;
}

.Toastify__toast{
    font-family: 'Josefin Sans', sans-serif !important;
}
.Toastify__progress-bar--error{
    background-color: #d44a4aad !important;
}
.Toastify__progress-bar--success{
    background-color: #5cc741ad !important;
}
@media screen and (max-width: 450px){
    #contactTitle {
        font-size: 30px;
        margin-bottom: 20px;
    }
    #contactDes {
        font-size: 20px;
    }
    #contactInfo{
        width: fit-content;
    }
    #infoTitle {
        font-size: 30px;
        text-align: center;
    }
    #infoDes{
        font-size: 20px;
    }
}