#contact {
    background-color: black;
    width: 100%;
    padding-bottom: 100px;
}

#contactTitle {
    display: block;
    margin: auto;
    color:whitesmoke;
    font-size: 6vh;
    font-family: 'Special Elite';
    padding-bottom: 0px;
    text-align: center;
    padding-top: 50px;
    border-bottom: white solid 2px;
    width: fit-content;
}
#contactDes{
    color:whitesmoke;
    font-size: 4vh;
    padding: 2vw;
    text-align: center;
    font-family: 'Inconsolata';
}
#contactForm {
    display: block;
    margin: auto;
    margin-bottom: 100px;
    width: 60%;
    min-width: 300px;
    max-width: 700px;
}
.contactInput {
 
    background-color: unset;
    color: white;
    border: none;
    border-bottom: white solid thin;
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: block;
    margin: auto;
}
.contactInput:focus {
    background-color: unset;
    border: none;
    border-bottom: white solid thin;
    outline: none;
}
#contactMessage{
    height: 100px;
}
#contactBtn{
    float: right;
    margin: 20px;
    margin-right: 0;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: grey;
    color: white;
}
#contactInfo {
    color: white;
    text-align: center;
    width: 400px;
    display: block;
    margin: auto;
    margin-top: 75px;
    
}
#infoTitle{
    font-size: 40px;
    text-align: center;
}
#infoDes {
    font-size: 25px;
    font-family: 'Inconsolata';
}
@media screen and (max-width: 450px){
    #contactTitle {
        font-size: 30px;
        margin-bottom: 20px;
    }
    #contactDes {
        font-size: 20px;
    }
    #contactInfo{
        width: fit-content;
    }
    #infoTitle {
        font-size: 30px;
        text-align: center;
    }
    #infoDes{
        font-size: 20px;
    }
}