#photoGallery img {
    padding: 2.5px;
    
}

#photoGallery{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#galleryTitle {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    border-bottom: white solid 2px;
    width: fit-content;
}
#galleryNav {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    font-weight: bold;
}
.gallNavBtn {
    width: min-content;
    padding: 0;
   
}
.gallNavBtn:hover {
   
    cursor: pointer;
   
}
#photoArea{
    display: block;
    margin: auto;
}

.css-1cm5myo{
    max-height: 70vh !important;
}

@media screen and ( max-width: 700px ){
    #galleryNav {
        font-size: 2vw;
        width: 90%;
    }
}