#container{
    display: block;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    max-width: 1000px;
}

.galleryCard{
    border: white solid thin;
    height: 30vw;
    width: 30vw;
    /* min-width: 100%; */
    /* padding: 0; */
    display: block;
    margin: auto;
    margin-top: 30px;
    font-family: 'Dosis';
    font-weight: Bold;
}
@media screen and ( min-width: 1000px){
    .galleryCard{
        height : 300px;
        width: 300px;
    }
}
@media screen and ( max-width: 767px){
    .galleryCard{
        width : 45vw;
        height: 40vw;
    }
}
@media screen and ( max-width: 575px){
    .galleryCard{
        width: 90vw;
        height: 90vw;
    }
}
.cardPic{
    height:80%;
    width: 100%;
    /* border-bottom: white solid thin; */
}
#bathroomCard {
    background-image: url('./assets/BathroomPic.JPG');
    background-position: center;
    background-size: cover;
}
#fireplaceCard {
    background-image: url('./assets/FireplacePic.JPG');
    background-position: center;
    background-size: cover;
}
#flooringCard {
    background-image: url('./assets/FlooringPic.JPG');
    background-position: center;
    background-size: cover;
}
#kitchenCard {
    background-image: url('./assets/KitchenPic.jpeg');
    background-position: center;
    background-size: cover;
}
#miscCard {
    background-image: url('./assets/MiscPic.jpg');
    background-position: center;
    background-size: cover;
}
#outdoorCard {
    background-image: url('./assets/OutdoorPic.jpeg');
    background-position: center;
    background-size: cover;
}
.cardPic img {
    height: 100%;
    width: 100%;
}
.cardTitle {
    color: white;
    text-align: center;
    padding-top: 5%;
}

#photoGallery img {
    padding: 5px;
}

#photoGallery{
    color: whitesmoke;
    /* max-width: 100vw;
    min-height: 700px; */
}
.galleryTitle {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
    border-bottom: white solid 2px;
    width: fit-content;
    font-family: 'Special Elite';
    font-weight: Bold;
}
#galleryNav {
    display: block;
    margin: 50px auto 30px auto;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    font-weight: bold;    
}


.gallNavBtn {
    width: min-content;
    padding: 0;
    font-family: 'Dosis';
}
.gallNavBtn p {
    font-family: inherit;
}

.gallNavBtn:hover {
   
    cursor: pointer;
   
}
#photoArea{
    display: block;
    margin: auto;
}

.css-1cm5myo{
    max-height: 70vh !important;
}
#instagram {
    display: block;
    margin: 30px auto 30px auto;
    width: fit-content;
    text-align: center;
    color: white;
    font-family: 'Inconsolata';
}

@media screen and ( max-width: 700px ){
    #galleryNav {
        font-size: 2vw;
    }
    #galleryTitle{
        font-size: 30px;
    }
}