#gallery{
    height: 100vh;
    padding-top: 75px;
}
#galleryGrid{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1200px;
    height: 80%;
}

.galleryCell{
    margin: 10px;
    border: white solid thin;
}


@media screen and ( min-width: 1000px){

}
@media screen and ( min-width: 1200px){

}
@media screen and ( max-width: 767px){
    .galleryCard{
        width : 45vw;
        height: 40vw;
    }
}
@media screen and ( max-width: 575px){
    .galleryCard{
        width: 90vw;
        height: 90vw;
    }
}
.cardPic{
    height:80%;
    width: 100%;
    background-position: center;
    background-size: cover;
    /* border-bottom: white solid thin; */
}


.cardTitle {
    color: white;
    text-align: center;
    padding-top: 5%;
}

#photoGallery img {
    padding: 5px;
}

#photoGallery{
    color: whitesmoke;
    margin-top: 100px;
    /* max-width: 100vw;
    min-height: 700px; */
}
.galleryTitle {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
    border-bottom: white solid 2px;
    width: fit-content;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    /* font-weight: Bold; */
}
#galleryNav {
    display: block;
    margin: 50px auto 30px auto;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    /* font-weight: bold;     */
}
#galNavMobile{
    visibility: hidden;
    height: 0px;
}


.gallNavBtn {
    width: min-content;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* font-weight: bold; */
    font-size: 30px;

}
.gallNavBtn p {
    font-family: inherit;
    width: fit-content;
    display: block;
    margin: auto;
    padding: 10px 5px 20px 5px;
    padding-bottom: 20px;
    border-bottom: rgba(255, 255, 255, 0) solid thin;
    transition: 0.5s;
    /* padding: 20px; */
}

.gallNavBtn p:hover {
    padding-bottom: 0px;
    border-bottom: white solid thin;
    font-weight: bold;
    cursor: pointer;
   
}
#photoArea{
    display: block;
    margin: auto;
    max-width: 1200px;
}

.css-1cm5myo{
    max-height: 70vh !important;
}
#instagram {
    position: fixed;
    bottom: -30px;
    left: 0px;
    height: 300px;
    
}
#instagram img{
    height: 250px;
    width: auto;
    display: block;
    margin: auto;
}
#galleryFooter{
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 4;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.671);
    color: rgb(97, 97, 97);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    font-size: 50px;
    font-weight: 550;
  }

.react-images__footer__caption {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 1000px){
    #galleryNav{
        visibility: hidden;
        height: 0px;
        margin: 0;
    }
    #galNavMobile{
        display: block;
        margin: auto;
        visibility: visible;
        height: fit-content;
        width: 80vw;
        font-size: 25px;   
        font-family: 'Josefin Sans', sans-serif;
     }
     .react-images__footer__caption {
        font-size: 30px
    }
}
@media screen and (max-width: 450px){

    #galNavMobile{
        font-size: 15px;   
     }
     .react-images__footer__caption {
        font-size: 15px
    }
}

@media screen and ( max-width: 700px ){
    #galleryNav {
        font-size: 2vw;
    }
    #galleryTitle{
        font-size: 30px;
    }
    #instagram {
        font-size: 20px;
    }
    .react-images__footer__caption {
        font-size: 25px
    }
}
