

body {
  background-color: #000000d7;
  min-height: 100%;
}
#navBar {
  width: 100%;
  height: 10vw;
  background: linear-gradient(to bottom left, #4b4b4b 0%, #222222 100%);
  box-shadow: 0px 0.5vw 30px #888888;
  
}
#navBar row {
  width: 100%;
}
#title {
  color: #ecececc0;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5vw;
}
.navButton {
  color: #ecececc0 ;
  font-size: 2vw;
  text-align: center;
  padding: 2vw;
  padding-bottom: 1vw ;
}
.navButton:hover {
  /* border-bottom: #ecececc0 solid thin; */
  box-shadow: 0px 15px 20px -20px #cacaca;

  cursor: pointer;
}
